.DS_Store
.vscode/
__pycache__/
src/out*
logs/
# これらをgitにあげたい時は以下をコメントアウトするようにします
*.csv
*.pt
*.h5
*.pdf
*.png
*.pkl
*.npy
*.npz
notebooks/*.ipynb
*.log
tmp*.sh
*pkl
dataset/*
!dataset/*.py
tmp*/
vit-base-patch16-224-in21k-finetuned-lora-food101/
playgrounds/checkpoint-*/
playgrounds/runs/